.chat-container {
    display: flex;
    flex-direction: column;
    height: 90vh;  
    padding: 20px; 
    box-sizing: border-box;  
    justify-content: flex-end; 
  }
  
  .messages {
    flex-grow: 1;  
    overflow-y: auto; 
    padding-bottom: 10px; 
    margin-bottom: 10px; 
  }
  
  .message {
    max-width: fit-content;  
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
  
  .message.user {
    margin-left: auto;
    background-color: grey; 
    color: white;  
    align-self: flex-end;
  }
  
  .message.server {
    background-color: #fff;  
    color: #000;  
    align-self: flex-start; 
  }
  
  .message-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 20px;  
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;  
  }
  
  .message-input {
    width: 80%;  
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px; 
  }
  
  .send-button {
    background-color: #007BFF;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
  }
  